### 8. `MANIFEST.in`

include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt
recursive-include ihydrocal *.yaml *.yml
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]